@model IEnumerable<MVC.Models.Employee>

@using MVC.Models;

@{
    ViewBag.Title = "Employee List";
}

<div style="font-family: Arial">

    <h2>Employee List</h2>

    <ul>
        @foreach (Employee employee in Model)
        {
            string employeeDetails = employee.Name;

            <li>
                @Html.ActionLink(employeeDetails, "Details", new { id = employee.EmployeeID })
            </li>
        }
    </ul>

    <p>@Html.ActionLink("Back To Department List", "Index", "Department")</p>

</div>


